
  <div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center">User Profile</h3>
        <div class="row">
          <div class="col-md-4 text-center">
            <% if @user.avatar.attached?  %>
              <%= image_tag @user.avatar, class: 'profile-avatar' , style: "width: 150px;  height: 150px; border-radius: 50%; object-fit: cover; " %>
            <%else%>
              <%= image_tag "logo.png", class: 'profile-avatar' , style: "width: 150px;  height: 150px; border-radius: 50%; object-fit: cover; " %>
            <% end %>
          </div>
          <div class="col-md-8">
            <table class="table table-borderless mt-3">
              <tbody>
               
                <tr>
                  <th scope="row">Full Name:</th>
                  <td><%= @user.full_name %></td>
                </tr>
                <tr>
                  <th scope="row">Email:</th>
                  <td><%= @user.email %></td>
                </tr>
                <tr>
                  <th scope="row">Address:</th>
                  <td>123 Main St, Anytown, USA</td>
                </tr>
              </tbody>
            </table>
          </div>
          <%= link_to 'Edit Profile', homepage_edit_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>

