    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Log in</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: sign_in_path, method: :get  do |f|%>
            <div class="mb-3">
                <%=f.label "Email:", class:"form-label"%>
                <%=f.email_field :email, class:"form-control" , placeholder: "john@email.com"%>  
            </div>
            <div class="mb-3">
                <%= f.label :password %><br>
                <%= f.password_field :password, autocomplete: "current-password" , class:"form-control" %>
            </div>
            <div class="d-grid gap-2">
                <%= f.submit "Continue", class:"btn btn-danger" %>
            </div>
        <%end%>

        <hr class="hr hr-blurry" />
        <div class="d-grid gap-2">
          <button type="button" class="btn btn-outline-primary">Enter with Google <%= image_tag 'google_logo.svg', class: 'bi', size: '20x20' %></button>
        </div>
      </div>
    </div>
    