<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4 ">
        <div class="col-auto">
            <div class="shadow-sm p-3 mb-5 bg-white rounded"  data-controller="card" data-card-target="card" >
                <div class="card-index card-01 card h-100">
                    <%= image_tag 'appartment1.png', class: 'card-img-top', size: '200x200' %>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="shadow-sm p-3 mb-5 bg-white rounded"  data-controller="card" data-card-target="card" >
                <div class="card-index card h-100">
                    <%= image_tag 'appartment2.png', class: 'card-img-top', size: '200x200' %>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
           <div class="shadow-sm p-3 mb-5 bg-white rounded"  data-controller="card" data-card-target="card" >
                <div class="card-index card h-100">
                    <%= image_tag 'appartment3.png', class: 'card-img-top', size: '200x200' %>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        <div class="col">
            <div class="shadow-sm p-3 mb-5 bg-white rounded"  data-controller="card" data-card-target="card" >
                <div class="card-index card h-100">
                    <%= image_tag 'appartment1.png', class: 'card-img-top', size: '200x200' %>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="shadow-sm p-3 mb-5 bg-white rounded"  data-controller="card" data-card-target="card" >
                <div class="card-index card h-100">
                    <%= image_tag 'appartment2.png', class: 'card-img-top', size: '200x200' %>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="shadow-sm p-3 mb-5 bg-white rounded"  data-controller="card" data-card-target="card" >
                <div class="card-index card h-100">
                    <%= image_tag 'appartment3.png', class: 'card-img-top', size: '200x200' %>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
