<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title text-center">Edit your House Card</h3>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <%= form_with(model: @post, local: true) do |form| %>
            <div class="mb-3">
              <%= form.label :title, style: "display: block" %>
              <%= form.text_field :title, class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= form.label :photos, style: "display: block" %>
              <%= form.file_field :photos, multiple: true, class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= form.label :description, style: "display: block" %>
              <%= form.text_area :description, class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= form.fields_for :location do |location_form| %>
                <%= location_form.label :address, style: "display: block" %>
                <%= location_form.text_field :address, class: "form-control" %>
              <% end %>
            </div>

            <div class="mb-3">
              <%= form.label :city %>
              <%= form.select :city, options_for_select(['Rome', 'Milan', 'Pisa'], @post.city), class: "form-select" %>
            </div>
            <div class="mb-3">
              <%= form.label :price, style: "display: block" %>
              <%= form.number_field :price, step: '1', min: '0', class: "form-control", placeholder: "$ or euro" %>
            </div>

            <div class="mb-3">
              <%= form.label :numer_rooms, style: "display: block" %>
              <%= form.number_field :numer_rooms, class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= form.label :square_meters, style: "display: block" %>
              <%= form.number_field :square_meters, step: :any, class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= form.label :floor, style: "display: block" %>
              <%= form.number_field :floor, class: "form-control" %>
            </div>
            
            <div class="text-center">
              <%= form.submit 'Update', class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
