<div class="container mt-5">
  <h1 class="text-center">My Houses</h1>
  <% @posts.each do |post| %>
    <div class="card mb-3">
      <div class="card-body text-center">
        <h3 class="card-title"><%= post.title %></h3>

        <% if post.photos.attached? %>
          <div class="row justify-content-center mb-3">
            <%= image_tag post.photos[0], class: "img-fluid", style: "width: 400px; height: 400px;" %>
          </div>
        <%else%>
           <div class="row justify-content-center mb-3">
            <%= image_tag "logo.png", class: 'img-fluid' , style: "width: 400px; height: 400px;" %>
          </div>
        <% end %>

        <p class="card-text"><strong>Description:</strong> <%= post.description %></p>
        <p class="card-text"><strong>address:</strong> <%= post.location.address %></p>
        <p class="card-text"><strong>city:</strong> <%= post.city %></p>
        <p class="card-text"><strong>Price:</strong> <%= number_to_currency(post.price) %></p>
        <p class="card-text"><strong>Number of Rooms:</strong> <%= post.numer_rooms %></p>
        <p class="card-text"><strong>Square Meters:</strong> <%= post.square_meters %></p>
        <p class="card-text"><strong>Floor:</strong> <%= post.floor %></p>

        <div class="text-center mt-3">
          <div class="btn-group" role="group" aria-label="Basic example">
            <%= link_to 'Show', post_path(post), class: "btn btn-secondary" %>
            <%= link_to 'Edit', edit_post_path(post), class: "btn btn-primary" %>
            <%= button_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </div>
        </div>


      </div>
    </div>
  <% end %>
  <div class="text-center mt-5">
    <%= link_to 'Post a New House', new_post_path, class: 'btn btn-primary' %>
  </div>
</div>

