<div class="container mt-5">
  <div class="custom-card card">
    <div class="card-body">
      <h3 class="card-title text-center"><%= @post.title%> </h3>
      <div class="row justify-content-center">
        <div class="col-md-4 text-center">
          <% if @post.photos.attached? %>
            <%= render "posts/caruousel"%>
          <% else %>
            <%= render "posts/caruousel"%>
            <!--<%= image_tag "logo.png", class: 'profile-avatar' , style: "width: 400px; height: 400px; border-radius: 50%; object-fit: cover;" %>-->
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card bg-light border-0">
  <div class="card-body">
    <h3 class="card-title text-center mb-4">Property Details</h3>
    <div class="row">
      <div class="col-md-6">
        <p class="mb-3"><strong>City:</strong> <%= @post.location.address %></p>
        <p class="mb-3"><strong>City:</strong> <%= @post.city %></p>
        <p class="mb-3"><strong>Number of Rooms:</strong> <%= @post.numer_rooms %></p>
        <p class="mb-3"><strong>Price:</strong> <%= number_to_currency(@post.price) %></p>
        <p class="mb-3"><strong>Square Feet:</strong> <%= @post.square_feet %></p>
        <p class="mb-3"><strong>Floor Number:</strong> <%= @post.floor %></p>
      </div>
      <div class="col-md-6 text-center">
        <% if @post.location.map_image.attached? %>
          <%= image_tag @post.location.map_image, class: "img-fluid", style: "max-height: 400px;" %>
        <% else %>
          <p>Map image not available</p>
        <% end %>
      </div>
    </div>
  </div>
</div>


  <div class="card ", style="border: none;">
    <div class="card-body">
      <h3 class="card-title text-center">User Profile</h3>
        <div class="row">
          <div class="col-md-4 text-center bg-light">
            <h5 class="">Profile picture:</h5>
            <% if @user.avatar.attached?  %>
              <%= image_tag @user.avatar, class: 'profile-avatar' , style: "width: 150px;  height: 150px; border-radius: 50%; object-fit: cover; " %>
            <%else%>
              <%= image_tag "logo.png", class: 'profile-avatar' , style: "width: 150px;  height: 150px; border-radius: 50%; object-fit: cover; " %>
            <% end %>
            <div class="card-body bg-light">
            <p class="card-text"><strong>Owener Name:</strong> <%= @user.full_name %></p>
            <p class="card-text"><strong>Owner Email:</strong> <%= @user.email %></p>           
          </div>
          </div>
          <div class="col-md-8">
            
            <%if current_user && current_user!=@user%>
              <h5>Send a Message:</h5>
              <%= form_with model: [@post, Message.new], local: true do |form| %>
                <div class="mb-3">
                    <%= form.text_area :content, class: "form-control ", style:"width: 100%; height: 100%; min-height: 200px;"%>
                </div>
                <div class="text-center">
                    <%= form.submit 'Submit', class: "btn btn-primary" %>
                </div>
              <% end %>
            <%elsif current_user && current_user==@user%>
              <div class="col mt-5 text-center ">
                <%= image_tag "star.png", class: 'profile-avatar text-center' , style: "width: 150px;  height: 150px; border-radius: 50%; object-fit: cover; " %>
                <h5>This is you!</h5>
              </div>
            <%else%>
              <div class="col mt-5 text-center ">
                <%= image_tag "message.png", class: 'profile-avatar text-center' , style: "width: 150px;  height: 150px; border-radius: 50%; object-fit: cover; " %>
                <h5>Log in to send a message</h5>
              </div>
            <%end%>
          </div>
          
        </div>
    </div>
  </div>
</div>
