<div class="container mt-5">
  <div class="custom-card card">
    <div class="card-body">
      <h3 class="card-title text-center"><%= @post.title%> </h3>
      <div class="row justify-content-center">
        <div class="col-md-4 text-center">
          <% if @post.photos.attached? %>
            <%= render "posts/caruousel"%>
          <% else %>
            <%= render "posts/caruousel"%>
            <!--<%= image_tag "logo.png", class: 'profile-avatar' , style: "width: 400px; height: 400px; border-radius: 50%; object-fit: cover;" %>-->
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="custom-card card">
    <div class="card-body">
      <h3 class="card-title text-center">Property Details</h3>
      <div class="row">
        <div class="col-md-6">
          <strong>Address: </strong> <p><%= @post.address%> </p>
          <strong>City: </strong> <p><%= @post.city%> </p>
          <strong>Number of Romms: </strong> <p><%= @post.numer_rooms%></p>
        </div>
        <div class="col-md-6">
         <strong>Price:</strong><p><%= @post.price%></p>
         <strong>Square feet: </strong> <p><%= @post.square_feet%></p>
        <strong>Floor Number: </strong> <p><%= @post.floor%> </p>
        </div>
      </div>
    </div>
  </div>
  <div class="custom-card card">
    <div class="card-body">
      <h3 class="card-title text-center">User Profile</h3>
        <div class="row">
          <div class="col-md-4 text-center">
            <h5 class="">Profile picture:</h5>
            <% if @user.avatar.attached?  %>
              <%= image_tag @user.avatar, class: 'profile-avatar' , style: "width: 150px;  height: 150px; border-radius: 50%; object-fit: cover; " %>
            <%else%>
              <%= image_tag "logo.png", class: 'profile-avatar' , style: "width: 150px;  height: 150px; border-radius: 50%; object-fit: cover; " %>
            <% end %>
            
          </div>
          <div class="col-md-8">
            <table class="table table-borderless mt-6">
              <tbody>
               
                <tr>
                  <th scope="row">Full Name:</th>
                  <td><%= @user.full_name %></td>
                </tr>
                <tr>
                  <th scope="row">Email:</th>
                  <td><%= @user.email %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-center">
            <%= link_to 'Edit Profile', homepage_edit_path, class: 'btn btn-primary  ' %>
          </div>
        </div>
    </div>
  </div>
</div>

<h2>Send a Message</h2>
<%= form_with model: [@post, Message.new], local: true do |form| %>
  <div class="mb-3">
      <%= form.label :content, style: "display: block" %>
      <%= form.text_area :content, class: "form-control" %>
  </div>
  <div class="text-center">
      <%= form.submit 'Submit', class: "btn btn-primary" %>
  </div>
<% end %>