<div class="modal" tabindex="-1" id="SignUpModal" aria-labelledby="exampleModalLabel" aria-hidden="true"  >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Sign up </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"  data-controller="form-validation">
                <%= form_with url: sign_up_path, method: :post , scope: :user   do |f|%>
                  <div class="field">
                    <%= f.label "full name" %><br />
                    <%= f.text_field :full_name, autofocus: true, autocomplete: "your full name ", class:"form-control" , placeholder: "John Smith ",  minlength: 5, maxlength: 50 ,data: { target: "form-validation.name" } ,required: true %>
                    <div data-target="form-validation.nameError" class="text-danger"></div>
                  </div>
                  <div class="mb-3">
                      <%=f.label "Email:", class:"form-label"%>
                      <%=f.email_field :email, class:"form-control" , placeholder: "john@email.com", data: { target: "form-validation.email" } ,required: true%>  
                      <div data-target="form-validation.emailError" class="text-danger"></div>
                  </div>
                  <div class="mb-3">
                      <%= f.label :password %><br>
                      <%= f.password_field :password, autocomplete: "new-password" , class:"form-control" , minlength: 5, maxlength: 50  , data: { target: "form-validation.password" },required: true%>
                      <div data-target="form-validation.passwordError" class="text-danger"></div>
                  </div>
                  <div class="mb-3">
                      <%= f.label :password_confirmation %><br />
                      <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control", data: { target: "form-validation.passwordConfirmation" } , required: true%>
                      <div data-target="form-validation.passwordConfirmationError" class="text-danger"></div>
                  </div>
                  <div class="d-grid gap-2">
                      <%= f.submit "Sign Up", class:"btn btn-danger" , data: { target: "form-validation.submitButton" }%>
                  </div>
                <%end%>
        <hr class="hr hr-blurry" />
        <div class="d-grid gap-2 text-center">
            

            <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, class: 'btn btn-outline-primary',data: { turbo: false } do %>
              Log in with Google <%= image_tag 'googlemini_logo.svg', class: 'bi', size: '20x20' %>
            <% end %>

        </div> 
    </div>
  </div>
</div>
