

<nav class="navbar header-navbar navbar-expand-lg d-flex justify-content-between" data-controller="header">
    
    <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
        <%= link_to root_path do %>
            <%= image_tag 'logo.png', class: 'card-img-top', style: 'width: 120px; height: 120px;' %>
        <%end%>
    </div>
   
    <%=render "layouts/searcher"%>
    
    <%=render "layouts/SessionManager"%>
    <%=render "modals/sign_in_modal" %>
    <%=render "modals/sign_up_modal"%>

</nav>
  