<div class="collapse navbar-collapse justify-content-center" id="navbarNav">
  <%= form_with url: home_index_path, method: :get, local: true, class: "form-inline" do |f| %>
    <div class="navbar-nav align-items-center">
      <div class="nav-item mx-2">
        <%= f.text_field :max_price, placeholder: "Max Price", class: "form-control" %>
      </div>
      <div class="nav-item mx-2">
        <%= f.text_field :square_feet, placeholder: "Square Feet", class: "form-control" %>
      </div>
      <div class="nav-item mx-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="city-label">City</span>
          </div>
          <%= f.select :city, options_for_select(['Rome', 'Milan', 'Pisa']), { include_blank: 'Select a City' }, { class: "form-select", 'aria-labelledby': "city-label" } %>
        </div>
      </div>
      <div class="nav-item mx-2">
        <%= f.text_field :address, placeholder: "Address", class: "form-control" %>
      </div>
      <div class="nav-item mx-2">
        <%= f.number_field :radius, placeholder: "Radius in Km", class: "form-control" %>
      </div>
      <div class="nav-item mx-2">
        <%= f.submit "Search", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

   