
<div class="collapse navbar-collapse justify-content-end " id="navbarNavRight">
      <div class="btn-group dropleft ">
        <div  class="btn-bell  dropdown-toggle-split dropleft" data-bs-toggle="dropdown" aria-expanded="false">
          <%= render "layouts/bell" %>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                9+
          </span>
        </div>
        
        <ul class="dropdown-menu dropleft">
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </div>
      <div class="btn-group px-2 ">
        <div  class="btn-bell  dropdown-toggle-split " data-bs-toggle="dropdown" aria-expanded="false">
           <div class="profile-container">
              <% if current_user && current_user.provider == "google_oauth2" %>
                <%= image_tag(current_user.avatar_url, class: "profile-picture  card-img-top" , style: " width: 40px;  height: 40px; border-radius: 50%; object-fit: cover; " ) %>
              <% else %>
                
                <% if current_user && current_user.avatar.attached?  %>
                  <%= image_tag current_user.avatar, class: 'profile-avatar' , style: " width: 40px;  height: 40px; border-radius: 50%; object-fit: cover; " %>
                <%else%>
                  <%= render "layouts/person_icon" %>
                <%end%>
              <% end %>
            </div>

        </div>
        <h1 class="h5 mb-3 font-weight-normal">
              <%=if current_user  
                  current_user.full_name
                  else
                  "Users"
                  end %>
        
        </h1>
        <ul class="dropdown-menu"> 
          <% if current_user %>
            <li><%=link_to "Homepage" , homepage_path , class:"dropdown-item"%></li>
             <li><hr class="dropdown-divider"></li>
            <li><%= button_to "Log out" , destroy_user_session_path , method: :delete ,class:"dropdown-item"%></li>
          <%else%>
          <!--<li><%=link_to "Log In" , new_user_session_path , class:"dropdown-item"%></li>
          <li><%=link_to "Sign up" , new_user_registration_path , class:"dropdown-item"%></li> -->
          <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#UserModal">Log in</button></li>
          <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#SignUpModal">Sign up</button></li>
          <%end%>
  
        </ul>
      </div> 

     
</div>